
@{
    ViewBag.Title = "Index";
}

<div class="box-header with-border">
    <h3 class="box-title">Bem vindo ao Teste de Danielle Arruda Torres</h3>
</div>
<div class="box box-default">
		<h1>Enunciado do teste:</h1><br/>
		Criar uma listagem de fornecedores relacionado a uma empresa;<br/>
		<b>A empresa deverá ser composta por:</b><br/>
		UF;<br/>
		Nome Fantasia;<br/>
		CNPJ.<br/>
		<b>O fornecedor deverá ser composto por:</b><br/>
		Empresa;<br/>
		Nome;<br/>
		CPF ou CNPJ;<br/>
		Data/hora de cadastro;<br/>
		Telefone (Quantidade de telefones é variável).<br/>
		<b>Regras:</b><br/>
		O campo ‘Empresa’ será um cadastro a parte;<br/>
		Caso a empresa seja do Paraná, não permitir cadastrar um fornecedor pessoa física menor de idade;<br/>
		Caso o fornecedor seja pessoa física, também é necessário cadastrar o RG e a data de nascimento;<br/>
		A listagem de fornecedores deverá conter filtros por Nome, CPF/CNPJ e data de cadastro.<br/>
		<b>Observação:</b><br/>
		Apenas para conhecimento, aqui trabalhamos com ASP.NET MVC 4 e 5, WebForms, WebAPI 1 e 2, VS2017,  Bootstrap, AngularJS, NHibernate e StructureMap.
		Para controle de fontes, utilizamos o mercurial (hg), hospedado no bitbucket.
		Importante minimizar o uso do Scaffolding (geração automatizada de código), pois o objetivo do teste é analisar o seu conhecimento.
		Questões tecnológicas/frameworks, ficam a sua escolha (sugerimos você utilizar o que mais conhece).
<div>