
@{
    /**/

    ViewBag.Title = "Index";
}

<script src="~/Scripts/jqGrid/js/jquery-1.11.0.min.js"></script>
<link href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Scripts/jqGrid/css/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/jqGrid/js/i18n/grid.locale-pt-br.js"></script>
<script src="~/Scripts/jqGrid/js/jquery.jqGrid.min.js"></script>
<script src="~/Scripts/Fornecedor/fornecedor.js"></script>

<div class="box-header with-border">
    <h4 class="box-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            Lista de Fornecedores
        </a>
    </h4>
</div>

<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Filtro - A busca é por AJAX com retorno Json </h3><br />
       
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-5">

                <!-- /.form-group -->
                <div class="form-group">
                    <label>Nome</label>
                    <input type="hidden" id="sessaoRepresentante" value="@ViewBag.representante" />
                    <input type="text" class="form-control" id="nome" onkeyup="maiuscula(this)" placeholder="Nome do Fornecedor">
                </div>

                <div class="form-group">
                    <label>Cnpj/CPF</label>
                    <input type="text" class="form-control" id="cnpj" onkeyup="somenteNumeros(this);" placeholder="Cnpj ou Cpf, somente numeros">
                </div>

            </div>

            <div class="col-md-6">

                <div class="form-group">
                    <label>Data Criação</label>
                    <input type="text" class="form-control" id="data" placeholder="Data de Criação" />
                </div>


                <span class="input-group-btn">
                    <button type="button" id="pesquisar" class="btn btn-info btn-flat">Pesquisar</button>
                    <button type="button" id="limpar" class="btn btn-danger btn-flat">Limpar</button>
                </span>

            </div>
            <!-- /.col -->
        </div>
        <div id="alertaAlterar" class="bg-aqua disabled color-palette">
            <span>Aperte Enter ou Clique no botão Pesquisar para atualizar a tabela</span>
        </div>
        <!-- /.row -->
    </div>

</div>


<br />
<form action="~/Fornecedor/Cadastro/0">
    <button id="Novo" type="submit" name="novo" class="btn btn-primary">Novo Fornecedor</button>
</form>

<br />

<div id="alertaAlterar" class="bg-yellow disabled color-palette">
    <span>Dê Um <font color="red"> <b>DUPLO </b></font>  click na linha da tabela para <font color="red"><b>ALTERAR O REGISTRO</b></font></span>
</div>

<br />
<table id="jqGrid"></table>
<div id="jqGridPager"></div>


